<?xml version="1.0" encoding="utf-8"?>
<Content Key="44945b12-d404-43dd-a3c0-91dbd85b3433" Alias="About" Level="2">
  <Info>
    <Parent Key="9d8d48c5-28b5-45cb-8539-ec14de7c2766">home</Parent>
    <Path>/home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2025-05-05T13:50:20</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="341f5155-c35b-45fc-97fc-65f9425c5357">Content</Template>
  </Info>
  <Properties>
    <headerC>
      <Value><![CDATA[]]></Value>
    </headerC>
    <isFollwable>
      <Value><![CDATA[1]]></Value>
    </isFollwable>
    <iSIndexable>
      <Value><![CDATA[1]]></Value>
    </iSIndexable>
    <main>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/60bdc305838d45ab96b368f74bfce3d9",
        "areas": [
          {
            "key": "fac742ff-d25b-4447-8463-a9d9245d8a9d",
            "items": [
              {
                "contentUdi": "umb://element/ea772f256ed242fea5dd2ded3d022bad",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/bc2e523cae2b4204b10396d72aa7c6ea",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/8c081349049f43abbb1c9f67989229a7",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e6940a1f-4b0a-4bf7-903a-d145d734b6a8",
      "udi": "umb://element/60bdc305838d45ab96b368f74bfce3d9"
    },
    {
      "contentTypeKey": "2739bd3b-a694-45bf-a80f-0a7f7095e107",
      "udi": "umb://element/ea772f256ed242fea5dd2ded3d022bad",
      "image": [
        {
          "key": "b5f107e0-f626-4da7-85af-13b99856409b",
          "mediaKey": "29536c52-0605-4d87-be72-7ef5779e94a8"
        }
      ],
      "link": [
        {
          "udi": "umb://document/9d8d48c528b545cb8539ec14de7c2766"
        }
      ]
    },
    {
      "contentTypeKey": "2739bd3b-a694-45bf-a80f-0a7f7095e107",
      "udi": "umb://element/bc2e523cae2b4204b10396d72aa7c6ea",
      "image": [
        {
          "key": "9589d08e-b8ac-4c76-ad79-72d2c395ebc9",
          "mediaKey": "c81962d0-f4c0-4c4f-89a9-a5d1469fcdfa"
        }
      ],
      "link": [
        {
          "udi": "umb://document/44945b12d40443dda3c091dbd85b3433"
        }
      ]
    },
    {
      "contentTypeKey": "2739bd3b-a694-45bf-a80f-0a7f7095e107",
      "udi": "umb://element/8c081349049f43abbb1c9f67989229a7",
      "image": [
        {
          "key": "a74ebc04-467d-419e-a4c0-f03fc73c44a2",
          "mediaKey": "c81962d0-f4c0-4c4f-89a9-a5d1469fcdfa"
        }
      ],
      "link": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </main>
    <metaDes>
      <Value><![CDATA[]]></Value>
    </metaDes>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>