<?xml version="1.0" encoding="utf-8"?>
<Content Key="20850cb8-f2c0-47c4-838b-954b1faf710e" Alias="Block List" Level="4">
  <Info>
    <Parent Key="085404e3-60f2-4375-b9c3-797ada1c54fe">Page Tags</Parent>
    <Path>/home/Settings/PageTags/BlockList</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2025-05-05T14:30:41</CreateDate>
    <NodeName Default="Block List" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>