<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ab36e2e-29f1-4f7c-be00-54ff955ee73d" Alias="Content Page" Level="2">
  <Info>
    <Parent Key="9d8d48c5-28b5-45cb-8539-ec14de7c2766">home</Parent>
    <Path>/home/ContentPage</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2025-05-05T22:39:28</CreateDate>
    <NodeName Default="Content Page" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="341f5155-c35b-45fc-97fc-65f9425c5357">Content</Template>
  </Info>
  <Properties>
    <headerC>
      <Value><![CDATA[]]></Value>
    </headerC>
    <isFollwable>
      <Value><![CDATA[1]]></Value>
    </isFollwable>
    <iSIndexable>
      <Value><![CDATA[1]]></Value>
    </iSIndexable>
    <main>
      <Value><![CDATA[]]></Value>
    </main>
    <metaDes>
      <Value><![CDATA[]]></Value>
    </metaDes>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>