<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d8d48c5-28b5-45cb-8539-ec14de7c2766" Alias="home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-05-05T11:24:41</CreateDate>
    <NodeName Default="home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc4d31a3-acd0-4f7f-8e60-7e759fff645d">Home</Template>
  </Info>
  <Properties>
    <headerC>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9165342d26ed459cb52a360688c97bf2",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f85f02a4-2571-4046-a72b-99917410d04e",
      "udi": "umb://element/9165342d26ed459cb52a360688c97bf2",
      "image": [
        {
          "key": "a2d550cd-60c4-4001-b55f-0c37653a1042",
          "mediaKey": "29536c52-0605-4d87-be72-7ef5779e94a8"
        }
      ],
      "title": "sX",
      "subTittle": "SX"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerC>
    <isFollwable>
      <Value><![CDATA[0]]></Value>
    </isFollwable>
    <iSIndexable>
      <Value><![CDATA[0]]></Value>
    </iSIndexable>
    <main>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a21fd9e1b3684085b19fc733aa762a4c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/7bc78d38760c47d4967a6c5027bfee7a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dcc8f568-ca4e-4e1c-abff-cc75553988ab",
      "udi": "umb://element/a21fd9e1b3684085b19fc733aa762a4c",
      "text": {
        "markup": "<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "57f8ba29-0b38-41d5-b3a4-2878c89602c3",
      "udi": "umb://element/7bc78d38760c47d4967a6c5027bfee7a"
    }
  ],
  "settingsData": []
}]]></Value>
    </main>
    <metaDes>
      <Value><![CDATA[]]></Value>
    </metaDes>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>