<?xml version="1.0" encoding="utf-8"?>
<Content Key="085404e3-60f2-4375-b9c3-797ada1c54fe" Alias="Page Tags" Level="3">
  <Info>
    <Parent Key="9c590bcd-8aa6-4330-b328-25afaf4c0730">Settings</Parent>
    <Path>/home/Settings/PageTags</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTags</ContentType>
    <CreateDate>2025-05-05T14:23:02</CreateDate>
    <NodeName Default="Page Tags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>