<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c590bcd-8aa6-4330-b328-25afaf4c0730" Alias="Settings" Level="2">
  <Info>
    <Parent Key="9d8d48c5-28b5-45cb-8539-ec14de7c2766">home</Parent>
    <Path>/home/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSetting</ContentType>
    <CreateDate>2025-05-05T14:13:07</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/29927615bdea45078558b9d7299e36da",
        "areas": [
          {
            "key": "8a168930-538d-4fc7-b13b-fbf45933030a",
            "items": [
              {
                "contentUdi": "umb://element/32236c6a46e04affb3032772c4bd0338",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "f3570226-85dc-42b2-85b2-6be8aec33f2b",
            "items": [
              {
                "contentUdi": "umb://element/ed9fe1a6aba0448b8d1c720130c9105b",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "d4b278f4-0e57-4bcf-8e30-2a22fbb9d450",
            "items": [
              {
                "contentUdi": "umb://element/ccfed5870baa49629ff19b83ce704366",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b69d1890-6a20-4312-88b2-ce894f699df8",
      "udi": "umb://element/29927615bdea45078558b9d7299e36da"
    },
    {
      "contentTypeKey": "9791fc29-79f3-47d7-9d23-435981553670",
      "udi": "umb://element/32236c6a46e04affb3032772c4bd0338",
      "title": "ddd",
      "text": {
        "markup": "<p>ddd</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "9791fc29-79f3-47d7-9d23-435981553670",
      "udi": "umb://element/ed9fe1a6aba0448b8d1c720130c9105b",
      "title": "dd",
      "text": {
        "markup": "<p>dd</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "9791fc29-79f3-47d7-9d23-435981553670",
      "udi": "umb://element/ccfed5870baa49629ff19b83ce704366",
      "title": "dd",
      "text": {
        "markup": "<p>dd</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </footerContent>
    <main>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/93ece9d8c8c54f24bd847e9977b9f443",
        "areas": [
          {
            "key": "ad626d13-3d4a-4cf1-acaa-911777c19e76",
            "items": [
              {
                "contentUdi": "umb://element/652d1a3f061a43aaa39e24c226985d72",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/b9c6e92284c54636a29b285682b9ce0b",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3cc9811575d34b4b8a33efafbee72d8c",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "550841b0-5df1-4191-a864-d7fed774e62a",
      "udi": "umb://element/93ece9d8c8c54f24bd847e9977b9f443"
    },
    {
      "contentTypeKey": "ae05960c-20ea-47af-9338-61b311e1f028",
      "udi": "umb://element/b9c6e92284c54636a29b285682b9ce0b",
      "title": "About",
      "link": [
        {
          "name": "About",
          "udi": "umb://document/44945b12d40443dda3c091dbd85b3433"
        }
      ],
      "links": ""
    },
    {
      "contentTypeKey": "ae05960c-20ea-47af-9338-61b311e1f028",
      "udi": "umb://element/3cc9811575d34b4b8a33efafbee72d8c",
      "title": "Search",
      "link": [
        {
          "name": "Search",
          "udi": "umb://document/29ae0655b51548c4b84ec547802ddd07"
        }
      ],
      "links": ""
    },
    {
      "contentTypeKey": "ae05960c-20ea-47af-9338-61b311e1f028",
      "udi": "umb://element/652d1a3f061a43aaa39e24c226985d72",
      "title": "Home",
      "link": "",
      "links": [
        {
          "udi": "umb://document/9d8d48c528b545cb8539ec14de7c2766"
        },
        {
          "name": "About",
          "udi": "umb://document/44945b12d40443dda3c091dbd85b3433"
        },
        {
          "name": "Search",
          "udi": "umb://document/29ae0655b51548c4b84ec547802ddd07"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </main>
    <siteName>
      <Value><![CDATA[q]]></Value>
    </siteName>
  </Properties>
</Content>