<?xml version="1.0" encoding="utf-8"?>
<Media Key="29536c52-0605-4d87-be72-7ef5779e94a8" Alias="Contact Bg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactBg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-06T02:14:32</CreateDate>
    <NodeName Default="Contact Bg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/krwfgkif/contact-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>