<?xml version="1.0" encoding="utf-8"?>
<Media Key="920492b4-2184-4d26-bffb-c186d9192d15" Alias="Home Bg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeBg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-06T23:50:38</CreateDate>
    <NodeName Default="Home Bg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wkjajeue/home-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>