<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d18845a-f5cd-40e0-a6a6-f5a211db96bf" Alias="Post Sample Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PostSampleImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-06T23:50:38</CreateDate>
    <NodeName Default="Post Sample Image" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lscbrdon/post-sample-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>