<?xml version="1.0" encoding="utf-8"?>
<Media Key="908149b5-97ba-48ab-866c-ab2a18fa725f" Alias="Startbootstrap Freelancer Gh Pages" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StartbootstrapFreelancerGhPages</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-05-06T23:50:13</CreateDate>
    <NodeName Default="Startbootstrap Freelancer Gh Pages" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vvejdef0/startbootstrap-freelancer-gh-pages.zip]]></Value>
    </umbracoFile>
  </Properties>
</Media>