<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7df55285-2352-47a0-aeb1-db5a74536e0b" Alias="[BlockGrid] - Footer Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Footer Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "d10849d0-0cce-427e-af1f-50f825e9e42b",
      "name": "Layout"
    },
    {
      "key": "0fb53e3e-64e8-4317-be50-54cde91413bc",
      "name": "Modules"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Left",
          "columnSpan": 4,
          "createLabel": "Add Footer Content",
          "key": "8a168930-538d-4fc7-b13b-fbf45933030a",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "9791fc29-79f3-47d7-9d23-435981553670",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "Middle",
          "columnSpan": 4,
          "createLabel": "Add Footer Content",
          "key": "f3570226-85dc-42b2-85b2-6be8aec33f2b",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "Right",
          "columnSpan": 4,
          "createLabel": "Add Footer Content",
          "key": "d4b278f4-0e57-4bcf-8e30-2a22fbb9d450",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "9791fc29-79f3-47d7-9d23-435981553670",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "b69d1890-6a20-4312-88b2-ce894f699df8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "d10849d0-0cce-427e-af1f-50f825e9e42b",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Three Colum",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "9791fc29-79f3-47d7-9d23-435981553670",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "0fb53e3e-64e8-4317-be50-54cde91413bc",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>