<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07703458-bfb7-4dc5-bdb0-fd33a1ae490f" Alias="[MultiURLPicker]" Level="2">
  <Info>
    <Name>[MultiURLPicker]</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>