<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09dfc489-97cf-40af-a5ba-58903b931408" Alias="[MultiURLPicker]- Child links" Level="2">
  <Info>
    <Name>[MultiURLPicker]- Child links</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>