<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5949c7e2-48fa-4447-a078-42d030d0ad81" Alias="Tag Picker" Level="2">
  <Info>
    <Name>Tag Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "pageTag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Current",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "7827e190-43c0-4b53-88a4-f3e651ca368b"
          ]
        },
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "a3770b99-168d-42f2-9c74-1bc7bb376a17"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>