<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aac95d7d-5d04-40dc-991a-dea14be1895b" Alias="content" Level="2">
  <Info>
    <Name>Content</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Content Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pges</Folder>
    <Compositions>
      <Composition Key="8d66c651-d651-4594-8890-c349fa4009f1">contentProp</Composition>
      <Composition Key="fb3fb689-512e-4ba5-a55c-b52b018cad2a">headerPrp</Composition>
      <Composition Key="12df9a0a-b376-47f0-b21f-b0d160944021">sEOProp</Composition>
      <Composition Key="f5e71f2c-72e0-4932-aa3a-b71cbad54774">taggingProp</Composition>
      <Composition Key="95e6b447-b644-46e8-a80c-f3484200bbdd">visibilityProp</Composition>
    </Compositions>
    <DefaultTemplate>Content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="341f5155-c35b-45fc-97fc-65f9425c5357">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>