<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7827e190-43c0-4b53-88a4-f3e651ca368b" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>home Page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pges</Folder>
    <Compositions>
      <Composition Key="8d66c651-d651-4594-8890-c349fa4009f1">contentProp</Composition>
      <Composition Key="fb3fb689-512e-4ba5-a55c-b52b018cad2a">headerPrp</Composition>
      <Composition Key="12df9a0a-b376-47f0-b21f-b0d160944021">sEOProp</Composition>
      <Composition Key="f5e71f2c-72e0-4932-aa3a-b71cbad54774">taggingProp</Composition>
      <Composition Key="95e6b447-b644-46e8-a80c-f3484200bbdd">visibilityProp</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cc4d31a3-acd0-4f7f-8e60-7e759fff645d">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="aac95d7d-5d04-40dc-991a-dea14be1895b" SortOrder="0">content</ContentType>
    <ContentType Key="d27966cd-bbe5-459a-b79f-67229552c6ea" SortOrder="1">searchPage</ContentType>
    <ContentType Key="f70116b9-c677-4d56-8211-acec6ca81be0" SortOrder="2">siteSetting</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>