<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a3770b99-168d-42f2-9c74-1bc7bb376a17" Alias="pageTags" Level="2">
  <Info>
    <Name>Page Tags</Name>
    <Icon>icon-tags color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b0c09c42-bc31-488e-a3dd-d06d0ef27bdc" SortOrder="0">pageTag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>