<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d27966cd-bbe5-459a-b79f-67229552c6ea" Alias="searchPage" Level="2">
  <Info>
    <Name>Search Page</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Search Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pges</Folder>
    <Compositions>
      <Composition Key="12df9a0a-b376-47f0-b21f-b0d160944021">sEOProp</Composition>
      <Composition Key="f5e71f2c-72e0-4932-aa3a-b71cbad54774">taggingProp</Composition>
      <Composition Key="95e6b447-b644-46e8-a80c-f3484200bbdd">visibilityProp</Composition>
    </Compositions>
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="753b7322-3408-4012-8e5f-1d7aeba99dd0">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>